<div class="bb-footer container-fluid full-width-container">
	<div class="col-sm-3 col-xs-6 full-width-container">
		<p class="text-headline-blue">Learn</p>
		<p class="text-body-blue">Recipes<br>Classes<br>Techniques<br>Spirits</p>
		<!-- <p class="text-body-blue">Classes</p>
		<p class="text-body-blue">Techniques</p>
		<p class="text-body-blue">Spirits</p> -->
	</div>
	<div class=" col-sm-3 col-xs-6 full-width-container">
		<p class="text-headline-blue">About</p>
		<p class="text-body-blue">
		Recipes<br>
		Classes<br>
		Techniques<br>
		Spirits
		</p>
	</div>
    <div style="" class="col-sm-6 bb-footer-content text-center full-width-container">
    	
    	<a ui-sref="main"><img style="width: 2.5rem;" src="/assets/images/justglassblue.png" alt="BevBuilder logo"></a><br><br>
        <p style=" ">BevBuilder is a beverage education platform designed to help you become a better bartender.</p>
        <p>Handcrafted in Seattle, WA.<br>BevBuilder 2014</p>
        <p></p>
    </div>
</div>