<div class="bb-footer container-fluid full-width-container">
    <div class="col-sm-3 col-xs-6 bb-col">
        <p class="text-headline-blue">Learn</p>
        <p class="text-body-blue"><a ui-sref="recipes">Recipes</a>
            <br><a ui-sref="classes">Classes</a>
            <br><a ui-sref="technique">Techniques</a>
            <br><a ui-sref="spirits">Spirits</a></p>
        <!-- <p class="text-body-blue">Classes</p>
		<p class="text-body-blue">Techniques</p>
		<p class="text-body-blue">Spirits</p> -->
    </div>
    <div class=" col-sm-3 col-xs-6 bb-col">
        <p class="text-headline-blue">About</p>
        <p class="text-body-blue">
            <a ui-sref="about">About BevBuilder</a>
            <br><a ui-sref="contact">Contact Us</a>
            
        </p>
    </div>
    <div style="" class="col-sm-6 col-xs-12 bb-footer-content text-center bb-col">

        <a ui-sref="main"><img style="width: 2.5rem;" src="/assets/images/justglassblue.png" alt="BevBuilder logo">
        </a>
        <br>
        <br>
        <p style=" ">BevBuilder is a beverage education platform designed to help you become a better bartender.</p>
        <p>Handcrafted in Seattle, WA.
            <br>BevBuilder 2015</p>
        <p></p>
    </div>
</div>
