.body-container {
  //padding-top: 3rem;
  //padding-left: $leftKeyline;
  //padding-right: $rightKeyline;
  img {
    height: auto;
    max-width: 100%;
    //margin-bottom: 1rem;
  }
}
.more {
  //margin-left: -13px;
}
.main-container {
  margin-top: 0rem;
  //background-color: #e8eaf6;
  background-color: #ededed;

}

.main-what-we-do-title {
  //color: #2727a4;
}

.main-what-we-do-right {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  @media only screen and (min-width : 768px) {
    //width: 80%;
    //float: left;
    max-width: 30rem;
    padding-top: 2.93rem;
  }
}

.main-intro-logo {
  padding: 0rem 2.5rem 2rem 2.5rem;
  img {
    padding-top: 2.93rem;
    padding-left: 18%;
    padding-right: 18%;
  }
  @media only screen and (min-width : 768px) {
    //width: 80%;
    //float: left;
    img {
      padding-left: 0%;
      padding-right: 0;
      padding-top: 3.5;
      float: right;
    }
  }
  @media only screen and (min-width : 992px) {
     img {
      padding-left: 18%;
      padding-right: 5%;
      float: right;
    }
  }
  @media only screen and (min-width : 1200px) {
    img {
      padding-left: 30%;
      padding-right: 2.75rem;
      float: right;
    }
  }
}



.intro-container {
  padding-bottom: 4.75rem;
  padding-top: 4.4rem;
}
.main-item-text-right {
  //width: 100%;
  //float: left;
  //display: block;
  //height: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.05rem;
  max-width: 30rem;
  
}

.main-item-text-left {
  //width: 100%;
  
  //display: block;
  text-align: left;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  //padding-right: 7.5rem;
  padding-top: 2.05rem;
  max-width: 30rem;
  @media only screen and (min-width : 768px) {
    float: right;
    text-align: right;
  }
  
}

.main-item-text {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-top: 2.25rem;
  //max-width: 28rem;
  @media only screen and (min-width : 1200px) {
    //width: 28rem;
    padding-top: 2.25rem;
  }
}

.main-item-image-right {
  img {
    width:100%;
  }
}





.main-item-text-btn {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.bg-blue {
  background-color: #2727a4;
}

.box-outline{
  border: 1px solid #999;
  -webkit-box-shadow: #dcdcdc 0 0 0 3px inset,$indigo-100 2px 3px 0;
  -moz-box-shadow: #dcdcdc 0 0 0 3px inset,$indigo-100 2px 3px 0;
  box-shadow: #dcdcdc 0 0 0 3px inset,$indigo-100 2px 3px 0;
  display: table;
  //padding: 10px;

}
.box-outline-container:hover {
    //border: 3 px solid $indigo-700;
  }
.full-width-container {
  padding: 0rem;
}

.bb-footer {
  background: #ffffff;
  padding: 4.75rem 2.5rem;
}

.bb-footer-content {
  color: #929292;
  img {
    padding-top: 2rem;
  }
  
  @media only screen and (min-width : 768px) {
    padding-left: 2.5rem;
    img {
    padding-top: 0rem;
  }
  }

}
