.body-container {
  //padding-top: 3rem;
  //padding-left: $leftKeyline;
  //padding-right: $rightKeyline;
  img {
    height: auto;
    max-width: 100%;
    //margin-bottom: 1rem;
  }
}

.main-container {
  margin-top: 0rem;
  //background-color: #e8eaf6;
  background-color: #ededed;

}

#main-what-we-do {
  padding: 0 2.5rem 2.93rem 2.5rem;
  border-right: 1px solid white;
  border-left: 1px solid white;
  img {
    padding-bottom: 2.93rem;
    // padding-left: 1rem;
    // padding-right: 1rem;
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      padding-right: 2.5rem;
      //padding-top: 3rem;
      
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      padding-left: 3rem;

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      padding-left: 9rem;
    }

    @media only screen and (min-width : 1400px) {
      padding-left: 15rem;
    }

    @media only screen and (min-width : 1600px) {
      padding-left: 20rem;
    }

    @media only screen and (min-width : 1800px) {
      padding-left: 25rem;
    }

    @media only screen and (min-width : 2000px) {
      padding-left: 28rem;
    }
  }
}

#main-what-we-do-text {
  p {
    max-width: 28rem;
    @media only screen and (min-width : 768px) {
      padding-left: 2.5rem;      
    }
  }
}

.main-title {

  padding: 2.93rem 2.5rem;
  background: #ffffff;
  max-width: 2560px;
}

.main-what-we-do-right {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  @media only screen and (min-width : 768px) {
    //width: 80%;
    //float: left;
    max-width: 30rem;
    padding-top: 2.93rem;
  }
}

.main-intro-logo {
  padding: 0rem 2.5rem 2rem 2.5rem;
  img {
    padding-top: 2.93rem;
    padding-left: 18%;
    padding-right: 18%;
  }
  @media only screen and (min-width : 768px) {
    //width: 80%;
    //float: left;
    padding-left: 5%;
    img {
      padding-left: 0%;
      padding-right: 0;
      padding-top: 3.5rem;
      float: right;
    }
  }
  @media only screen and (min-width : 992px) {
     img {
      padding-left: 15%;
      //padding-right: 5%;
      float: right;
    }
  }
  @media only screen and (min-width : 1200px) {
    img {
      padding-left: 30%;
      //padding-right: 2.75rem;
      float: right;
    }
  }
}

.intro-container {
  padding-bottom: 3.7rem;
  padding-top: 2.93rem;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#what-we-do-container {
  border-right: 1px solid white;
}

#latest-second {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

#latest-first {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.main-item-text-right {
  //width: 100%;
  //float: left;
  //display: block;
  //height: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.05rem;
  max-width: 30rem;
  
}

.main-item-text-left {
  //width: 100%;
  
  //display: block;
  text-align: left;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  //padding-right: 7.5rem;
  padding-top: 2.05rem;
  max-width: 30rem;
  @media only screen and (min-width : 768px) {
    float: right;
    text-align: right;
  }
}

.main-item-text {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-top: 2.25rem;
  //max-width: 28rem;
  @media only screen and (min-width : 1200px) {
    //width: 28rem;
    padding-top: 2.25rem;
  }
}

.main-item-image-right {
  img {
    width:100%;
  }
}

.bb-image {
  overflow: hidden;
  max-height: 22rem;
  @media only screen and (min-width : 1200px) {
    max-height: 23rem;
  }
  @media only screen and (min-width : 1400px) {
    max-height: 26rem;
  }
  @media only screen and (min-width : 1600px) {
    max-height: 28rem;
  }
  // img {
  //   object-fit: cover;
  //   @media only screen and (min-width : 1400px) {
  //     transform: translateY(-12%);
  //   }
    

  // }
}

.main-item-text-btn {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  width: 13rem;
}

.bg-blue {
  background-color: #2727a4;
}

.box-outline{
  border: 1px solid #999;
  -webkit-box-shadow: #dcdcdc 0 0 0 3px inset,$indigo-100 2px 3px 0;
  -moz-box-shadow: #dcdcdc 0 0 0 3px inset,$indigo-100 2px 3px 0;
  box-shadow: #dcdcdc 0 0 0 3px inset,$indigo-100 2px 3px 0;
  display: table;
  //padding: 10px;

}

.full-width-container {
  padding: 0rem;
}

.bb-footer {
  background: #ffffff;
  padding: 2.93rem 2.5rem;
}

.bb-footer-content {
  color: #929292;
  img {
    padding-top: 2rem;
  }
  
  @media only screen and (min-width : 768px) {
    padding-left: 2.5rem;
    img {
    padding-top: 0rem;
  }
  }

}

.main-btn {
  width: 13rem;
  line-height: 2.5rem;
  background: #2727a4;
  color: white;
  border-top: 1px solid $pink-a200;
  border-left: 1px solid $pink-a200;
  border-right: 1px solid $pink-a200;
  border-bottom: 1px solid $pink-a200;
  // border-top: 1px solid #2727a4;
  // border-left: 1px solid #2727a4;
  // border-right: 1px solid #2727a4;
  // border-bottom: 1px solid #2727a4;
  border-radius: 1.75rem;
  font-size: 1rem;
  //font-weight: 500;
  letter-spacing: -.04rem;
  //border: 2 px solid #ffffff;
  -webkit-transition: all 0.33s ease-in-out;
  -o-transition: all 0.33s ease-in-out;
  transition: all 0.33s ease-in-out;
}

.main-btn:hover,
.main-btn:active,
.main-btn:focus {
  
  //background: #2727a4;
  //color: #ffffff;
  border-radius: 0;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;

}